In [10]:
df = pd.read_csv('short_test.csv')

In [11]:
df.head()

       Timestamp   Price
0   3/31/19 6:27  1.2548
1   3/31/19 7:18  1.2252
2   3/31/19 8:25  1.2520
3  3/31/19 10:05  1.2469
4  3/31/19 10:38  1.2359