In [4]:
import pandas as pd
import seaborn as sns

In [9]:
data = pd.read_csv('us_east_1a.csv')
data['Timestamp'] = pd.to_datetime(data['Timestamp'])
data = data.sort_values('Timestamp', ascending=False)
data.head()

           ProductDescription  SpotPrice                 Timestamp
191                SUSE Linux     0.2171 2020-07-05 01:38:16+00:00
190  Red Hat Enterprise Linux     0.1971 2020-07-05 01:38:16+00:00
189                Linux/UNIX     0.0671 2020-07-05 01:38:16+00:00
188                SUSE Linux     0.2171 2020-07-04 01:37:58+00:00
187  Red Hat Enterprise Linux     0.1971 2020-07-04 01:37:58+00:00